body {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    background-color: white;
}

nav #logo {
    color: black;
}


nav ul li:hover {
    border-bottom: 3px solid black;
    transition: .3s;
}

nav ul li a {
    color: black;
}

.login {

    text-align: center;
}

.login input {
    border-style: solid 2px;
    font-size: 20px;
    height: 50px;
    width: 30%;
    text-align: center;

}

form button {
    border: none;
    background: #ff3399;
    width: 27%;
    font-size: 16px;
    height: 45px;
    color: white;

}

form button:hover {
    transition: .2s;
    font-size: 18px;
}